
h1{
    color:#2b3937;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: black;
}
#mainNav .navbar-nav li.nav-item a.nav-link{
        font-family: Days One;
        font-size:20px;
}

.bg-primary{
    background-color: #E9967A !important ;
}

.bg-secondary{
    background-color: #E9967A !important ;
}

.masthead{
    padding-bottom:6px;
    padding-top:150px;
}
.container{
    display:flex;
    flex-direction:row;
}

.masthead .masthead-heading{
    margin-top: 80px;
}

.row{

}

.masthead .masthead-avatar{
    width:100%;
    margin-top:-130px;
}


.body{
    text-align: left;
    color: black;
    background-color:#cococo ;

}

.body,li{
    list-style-type: none;
    text-align:center !important;
}

h2{
    font-size: 5rem !important;
    font-family: Days One;
}


.footer{
    background-color: #E9967A !important ;
}

h1{
    text-align: right;
    margin:5px;
    font-family: Days One;
    font-size: 34px;
}

h4{
    color:#2b3937!important ;
}

#form-contact{
    margin:50px;
}

.btn-primary{

    background-color: #E9967A !important ;
}

}
